

.horizontalContainer::-webkit-scrollbar {
    display: none;
}
  
  .horizontalContainer {
    display: flex;
    overflow-x: auto; 
    padding: 1rem;
  }
  
  .listContainer {
    display: flex;
  }
  
  .listItem {
    margin-right: 10px;
  }
  
