/* .dashBoardContainer { */
    /* overflow-x: scroll; */
/* } */

.horizontalContainer::-webkit-scrollbar {
    display: none;
}
  
  .horizontalContainer {
    display: flex;
    overflow-x: auto; 
  }
  
  .listContainer {
    display: flex;
  }
  
  .listItem {
    margin-right: 10px;
  }
  
