.mainDiv {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.horizontalContainer::-webkit-scrollbar {
  display: none;
}
  
  .horizontalContainer {
    display: flex;
    overflow-x: auto; 
    padding: 1rem;
  }
  
  .listContainer {
    display: flex;
  }
  
  .listItem {
    margin-right: 10px;
  }
  
  .isDraggingOver {
    min-height: 50px; /* Set the desired minimum height */
  }
  