.card {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: #e5dcdcc2 5px 5px 5px;
  color: black;
  color: black;
  text-decoration: none;
  z-index: 2;
  /* display: flex;
  justify-content: space-between;
  gap: 0.5rem; */
}

.link {
  text-decoration: none;
  color: black;
}

.containerCard {
  display: flex;
  justify-content: space-between;
  width: 17rem;
  height: 2vh;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

.containerCard:hover {
  background-color: #f1f2f4;
}

.cardTitle {
  height: 2vh;
}

.card:hover {
  background-color: #f1f2f4;
}
.icons {
  display: flex;
  width: 4rem;
  gap: 0.8rem;
}

.title__input {
  width: 70%;
  height: 100%;
  height: 1.5rem;
  margin-right: 0.5rem;
  padding-left: 5px;
  border: none;
  font-size: 18px;
}

.title__input:focus {
  border: 1px solid white;
  outline: none;
}

.title__saveBtn {
  padding: 5px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
