.container3{
        display: flex;
        gap : 1.1rem;
}

.div2{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 0.3rem;
}

.div3 {
    cursor: pointer;
}
.button1{
    width: 100%;
    height: 2.5rem;
    display: flex;
    padding: 0.7rem 1rem;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    border: 1px solid;
}
.input{
    height: 2rem;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.544);
    padding: 0.2rem 1.3rem;
}
.div4{
    display: flex;
    margin: 0.5rem 0 0 1rem;
    flex-direction: column-reverse;
}
.Innerdiv{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.Innerdiv ul {
    margin-top: 1.5rem;
}