.container3{
    display: flex;
}
.para2{
    font-size: 16px;
    font-weight: 600;
    font-family:
      -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}
.btn2{
    width: 4rem;
    height: 2rem;
    padding: 0;
    margin: 0.5rem;
    cursor: pointer;
}
button {
    border: none;
    border-radius: 10px;
    background-color: var(--ds-background-neutral, #091e420a);
  }
  button:hover {
    background-color: rgba(187, 183, 183, 0.445);
  }

  .contentBtn{
    display: flex;
  }
  .btn3{
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
  }

  .innerDiv{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem 0.1rem;
  }