.DialogContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
}
.container2 {
    margin: 2rem 2.8rem;
    padding-left: 0.5rem;
}
.btn1 {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    height: 2rem;
    align-items: center;
    padding-left: 0.8rem;
}
button {
    border: none;
    border-radius: 10px;
    background-color: var(--ds-background-neutral, #091e420a);
}
button:hover {
    background-color: rgba(187, 183, 183, 0.445);
}

.button2{
    width: 10rem
}
.div4{
    display: flex;
    justify-content: space-around;
}
