body {
  /* background-image: url("https://www.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  padding: 0.938rem;
  height: 3rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-bottom: 0.938rem;
}

.leftSide {
  display: flex;
  justify-content: space-around;
  width: 25%;
  align-items: center;
}
.leftSide h3 {
  color: white;
}
.pBtn {
  display: flex;
  justify-content: space-around;
  padding: 0.625rem;
  border: none;
  background: transparent;
  cursor: pointer;
  align-items: center;
  width:max-content;
}

.boardBtn {
  /* padding: 0.5rem; */
  color: aliceblue;
  padding: 0.625rem;
  border: none;
  background: transparent;
  cursor: pointer;
  width:max-content;

  /* width: 6rem; */
}

.pBtn p {
  padding-left: 0.2rem;
  color: aliceblue;
}

.rightSide {
  display: flex;
  justify-content: space-around;
  width: 15%;
  align-items: center;
}

.rightSide button {
  border: none;
  /* border: 1px solid; */
  padding: 0.438rem;
  cursor: pointer;
}

.rightSide button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


