
.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.938rem;
  height: 3rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  margin-bottom: 0.938rem;
}

.leftSide {
  display: flex;
  align-items: center;
}
.leftSide h3 {
  color: white;
  margin-right: 0.5rem;
}

.threeDots{
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: none;
  cursor: pointer;
  margin-right: 0;
}
.pBtn,.threeDots {
  display: flex;
  justify-content: space-around;
  padding: 0.625rem;
  border: none;
  cursor: pointer;
  align-items: center;
  width:max-content;
}
.vl {
  border-left: 1.5px solid gray;
  height: 1.1em;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.boardBtn {
  color: aliceblue;
  padding: 0.625rem;
  border: none;
  background: transparent;
  cursor: pointer;
  width:max-content;
}
.shareBtn{
  background-color: aliceblue;
  color: black;
  border-radius: 1px;
  border: none;
  padding: 0.438rem;
  cursor: pointer;
  /* background: none; */
}

.shareBtn:hover{
  background-color: aliceblue;
}
.backGbtn{
  display: flex;
  border: none;
  /* border: 1px solid; */
  padding: 0.438rem;
  cursor: pointer;
  color: aliceblue;
  align-items: center;
  background: none;
}

.backGbtn svg{
  margin-left: 0.5rem;
  padding-top: 0.1rem;
  transition: 0.5s;
}

.backGbtn:hover svg{
  font-size: 1.2rem;
  color: cornflowerblue;
}

.pBtn p {
  padding-left: 0.2rem;
  color: aliceblue;
}

.rightSide {
  display: flex;
  align-items: center;
}
.powerUp svg{
  color: white;
  transition: 1s;
}

.bolt svg{
  color: white;
  transition: 1s;
}

.bolt:hover svg{
  color: rgb(74, 74, 206);
  font-size: 1.8rem;
}
.powerUp:hover svg{
  color: brown;
  font-size: 1.8rem;
}
.rightSide button {
  /* border: none; */
  margin: 0.3rem;
  cursor: pointer;
  background: none;
}

.rightSide button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.threeDots:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
