.cardContainer {
  min-width: 18rem;
  background-color: #f1f2f4;
  border-radius: 15px;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  min-width: 300px;
  border-radius: 15px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.4rem 0 1.4rem;

}

.cardTitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.dotsIcon {
  padding: 5px;
}

.dotsIcon:hover {
  background-color: rgb(189, 184, 184);
}

.cardBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 15px;
  width: 100%;
}

.cardBtn:hover {
  background-color: rgb(189, 184, 184);
  padding: 0.5rem;
}

.addIcon {
  color: rgb(83, 83, 83);
}

.addBtn {
  color: rgb(83, 83, 83);
}

.addCardBtn {
  display: flex;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.templateBtn {
  padding: 5px;
}

.templateBtn:hover {
  background-color: rgb(189, 184, 184);
}
